@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* Header and Navbar style */

#header{
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    /* margin-top: 20px; */
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-item a{
    margin-right: 50px;
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

.logo{
    font-size: 30px;
    color: rgba(66, 66, 66, 1);
}

/* Banner section */

.banner{
    text-align: center;
}

.banner-info{
    padding: 10px;
}

.banner-title{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-description{
    margin-bottom: 20px;
    color: rgba(66, 66, 66, 1);
}

.btn-primary{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    border: 0;
    background-color: rgba(255, 144, 14, 1) ;
    color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-bottom: 30px;
}

.banner-img{
    width: 1000px;
    margin-bottom: 25px;
}

/* Our Feature */

#our-features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
}

.feature-details{
    margin-right: 300px;
}

.hero-imgs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-right: 73px;
    margin-left: 300px;
}

.hero-img{
    width: 200px;
}

.section-title{
    font-size: 40px;
    margin-bottom: 20px;
}
.text-primary{
    color: rgba(255, 144, 14, 1);
}
.text-secondary{

    font-weight: 500;
    color: rgba(114, 114, 114, 1);

}
.section-details{
    color: rgba(114, 114, 114, 1);
    margin-bottom: 25px;
}

/* Love and enjoy */

#feature-love-enjoy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
    margin-top: 130px;
    margin-bottom: 100px;
}

.love-enjoy-img{
    height: 750px;
}

.feature-title{

    font-size: 35px;
    margin-bottom: 20px;
    padding-left: 12px;
    border-left: 3px solid rgba(255, 144, 14, 1);

}

.feature{
    padding-top: 5px;
    padding-left: 10px;
    box-shadow: 0px 0px 40px rgba(51, 50, 50, 0.15);
    border-radius: 8px;
}
.feature-head{
    font-size: 18px;
    font-weight: 600;
    margin: 15px;
}
.fea-des{
    padding: 0 10px;
    padding-bottom: 15px;
}

.experiences{
    position: relative;
    margin-top: -10%;
    margin-left: 52%;
    margin-bottom: 100px;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 5px;
    width: 180px;
    height: 90px;
    padding-top: 15px;
}

.experience, .ex-info{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;

}
.experience{
    font-size: 30px;
    font-weight: 650;
}