@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* Header and Navbar style */

#header{
    background-color: rgba(255, 144, 14, 0.1);
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 40px 20px;
    /* margin-top: 20px; */
}

.nav-items{
    display: flex;
    list-style: none;
}

.nav-item a{
    margin-right: 50px;
    text-decoration: none;
    color: rgba(66, 66, 66, 1);
}

.logo{
    font-size: 30px;
    color: rgba(66, 66, 66, 1);
}

/* Banner section */

.banner{
    text-align: center;
}

.banner-info{
    padding: 10px 500px;
}

.banner-title{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-description{
    margin-bottom: 20px;
    color: rgba(66, 66, 66, 1);
}

.btn-primary{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 10px;
    border: 0;
    background-color: rgba(255, 144, 14, 1) ;
    color: white;
    border-radius: 5px;
    margin-bottom: 30px;
}

.banner-img{
    width: 1000px;
    margin-bottom: 25px;
}